

<div class="col-sm-8 blog-main">
  <h2 class="section-heading"><%= @blog.title %></h2>
  <h3 class="subheading"><%= @blog.subtitle %></h3>
    <p><%= @blog.category.title if logged_in?(:site_admin) %></p>
    <p>
      <%= @blog.body %>
    </p>
    <p>
      <%= @blog.status if logged_in?(:site_admin) %>
    </p>
    <%= link_to fa_icon('file-text'), toggle_status_blog_path(@blog), style: blog_status_color(@blog) if logged_in?(:site_admin) %>
    <%= link_to fa_icon('pencil-square-o'), edit_blog_path(@blog) if logged_in?(:site_admin) %>
    <%= link_to fa_icon('trash'), @blog, method: :delete, data: { confirm: 'Are you sure you want to delete this post' } if logged_in?(:site_admin) %>
</div>
