<div class="col-sm-8 blog-main">
  <% if logged_in?(:site_admin) %>
    <%= render partial: 'blogs/admin_actions', locals: { blog: @blog } %>
  <% end %>
  <h2 class="section-heading"><%= @blog.title %></h2>
  <h3 class="subheading"><%= @blog.subtitle %></h3>
    <p><%= @blog.category.title if logged_in?(:site_admin) %></p>
    <p>
      <%= @blog.body %>
    </p>
    <p>
      <%= @blog.status if logged_in?(:site_admin) %>
    </p>
</div>
