<div class="col-md-4">
  <div class="card mb-4 shadow-sm" data-id="<%= portfolio_item.id %>">
    <a href="<%= portfolio_item.image %>" data-lightbox="image-1">
      <%= image_tag portfolio_img(portfolio_item.image.thumb).to_s, width: '100%', height: '100%' %>
    </a>
    <% if logged_in?(:site_admin) %>
    <%= portfolio_item.title %>
    <%= link_to 'Delete',portfolio_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
