<div class="col-md-4">
  <div class="card mb-4 shadow-sm" data-id="<%= portfolio_item.id %>">
    <a href="<%= portfolio_item.image %>" data-lightbox="image-1">
      <%= image_tag portfolio_item.thumb unless portfolio_item.thumb.nil? %>
    </a>

    <span class="portfolio-card-title">
      <%= portfolio_item.title %>
      <small class="text-muted">
        Added <%= distance_of_time_in_words(portfolio_item.created_at, Time.now) %> ago
      </small>
    </span>
  </div>
</div>
